notify_admin: notify.mobile_app_youruser
notify_all: notify.persistent_notification
climate_bath: climate.bad
webhook1: -xx
webhook2: -xx
webhook3: -xx
webhook4: -xx
webhook5: -xx
webhook6: -xx
heating_device_serial: "21"
hotwater_device_serial: "76"
flat1_temperature: sensor.flat1_temperatur
flat2_temperature: sensor.flat2_temperatur
flat3_temperature: sensor.flat3_temperatur
